@import "semantic-ui-css/semantic.min.css";
.App {
  text-align: center;
  padding: 20px;
  padding-top: 10%;

  display: flex;
  justify-content: center;
  background: url("https://i.pinimg.com/originals/ee/58/d9/ee58d971682ad2e99b4e6c891bc9417d.gif");
  background-color: #1c2930;
  background-size: cover;
  background-position-x: -100px;
  background-repeat: no-repeat;
  background-position-y: 0px;
  background-size: 1000px;
}

#root,
.App {
  height: 100%;
  font-family: "Fredoka One";
  background-color: #1c2930;
}
.App-logo {
  margin: 30px;
  pointer-events: none;
  font-size: 4em !important;
  /* color: #3d5c96; */
  color: #ff8d3c;
}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .App {
    background: url("https://i.pinimg.com/originals/ee/58/d9/ee58d971682ad2e99b4e6c891bc9417d.gif");
    background-position-x: -80px;
    background-repeat: no-repeat;
    background-position-y: 95%;
    background-size: 500px;
    padding-top: 50%;
  }
  .App-logo {
    margin: 0px 0px 20px 0px;
    line-height: 1;
    font-size: 3.5em !important;
  }
}
/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .App {
    background: url("https://i.pinimg.com/originals/ee/58/d9/ee58d971682ad2e99b4e6c891bc9417d.gif");
    background-repeat: no-repeat;
    background-position-y: 80%;
  }
}

/* 


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
 */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.filters {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: auto;
}
.filters > * {
  margin: 15px 0px;
  width: 100%;
}

.filters input {
  /* opacity: 1 !important;
  font-family: "Fredoka One", cursive !important;
  width: 100% !important; */
}
